.FilterDef {
  height: 0;
  position: fixed;
}

.Container {

}

.ToolbarContainer {
  z-index: 100;
  position: fixed;
  top: 10px;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.Toolbar {
  display: flex;
  flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
  align-content: stretch;

  padding: 0;
  margin: 0;
  margin-top: 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, rgba(82, 134, 255, 0.75), rgba(0, 153, 255, 0.75), rgba(0, 170, 255, 0.75), rgba(0, 185, 246, 0.75), rgba(18, 195, 235, 0.75));
  backdrop-filter: blur(5px);
  /* background-color: rgba(255,255,255,0.1); */
}

.Toolbar li:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.Toolbar li {
  float: left;
  list-style: none;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 2rem;
  line-height: 0;
  transition: background-color 0.2s ease-in;
}

.Toolbar li:hover {
  cursor: pointer;
  background-color: rgb(34, 212, 189);
  transition: background-color 0.2s ease-out;
}